main{
    margin-top: 6rem;
    background-color: hsl(0, 0%, 98%);
    padding: 1rem;
}

.block1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filter{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 15vw;
    height: 5vh;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    border-radius: 5px;
}

select{
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    
}

select:focus{
    outline: none;
    border-radius: 5px;
    border: none;
}

.countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: 25px;
}

.searchBar{
    box-shadow: 0px 0px 7px 2px #a7a6a6;
    display: flex;
    align-items: center;
    width: clamp(250px, 30%, 400px);
    background-color: #fff;

}

.searchBtn{
    background: none;
    width: clamp(50px, 3vw, 75px);
}

.inputCountry{
    padding: 1rem 1.5rem;
    
}

.inputCountry:focus{
    outline: none;
}

@media (max-width: 450px) {
    .countries{
        grid-template-columns: repeat(1, 1fr);
    }
}