@font-face {
    font-family: 'Nunito';
    src: url('../WEB/fonts/Nunito-Medium.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Nunito", sans-serif;
    --light-mode-text: hsl(200, 15%, 8%);
    --dark-mode-text: hsl(0, 0%, 100%);
    --dark-mode-e: hsl(209, 23%, 22%);

}